%h1 Consulting

%p I've been consulting for 16 years and have vast experience on both the technical and business side of software development. Currently, I'm seeking consulting opportunities that allow me to leverage 6 years of full-stack Ruby on Rails experience.

%h2 A true partner

%p As a developer with a business background and deep interest in the success of my clients, I contribute to projects beyond just writing code. In me, you'll find a developer who can accurately balance the business needs of stakeholders with the technical needs of engineers. With over 6 years of Ruby on Rails experience, and 10 years managing a small business, you'll find a unique skill set that can help you succeed.

%h2 Motivated by success

%p I'm motivated by my clients' success and work hard to introduce value that lasts. I strive to introduce sustainable processes like Test Driven Development. I believe in process automation and work hard to automate every practical part of a project's development and deployment lifecycle.

%h2 Let's talk
%p
  I'm currently based in New York but will entertain the right opportunity, short and long term, in any part of the world.
  %a{href: '/contact'} Contact me.
