%h1 Contact me

%h2 Phone
%p When in the US: +1 (215) 292-2193
%p When in Russia: +7 (926) 766-01-78
%p From around the world, via Skype: cbartlett5

%h2 Email
%p colin at colinabartlett dot com

%h2 Social
%p
  I keep a low social-networking profile, but you are welcome to connect with me on
  %a{href: 'http://github.com/cbartlett'} Github
