!!! 5
%html
  %head
    %title Colin A. Bartlett
    %link{href: '//fonts.googleapis.com/css?family=Raleway', rel: 'stylesheet', type: 'text/css'}
    %style
      :sass
        html
          background-color: #666
        body
          font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif
          font-weight: 400
          text-align: center
          margin: 0 10px
          color: #3b2e2a
          font-size: 15px
        a
          text-decoration: underline
          color: #3b2e2a
          > :visited
            color: #3b2e2a
        h1
          margin: 0 0 .2em 0
        h1, h2
          text-transform: uppercase
          font-weight: 600
        h2,h3
          margin: 1.0em 0 .1em 0
        h3
          font-weight: 700
        p
          margin: 0 0 .3em 0
        .header
          overflow: hidden
          margin-bottom: 10px
          clear: both
          .item
            text-transform: uppercase
            margin-top: 25px
            font-size: 20px
            width: 168px
            float: left
            text-align: center
            a
              text-decoration: none
          .logo
            margin-top: 0
            font-weight: 400
            .first
              font-size: 47px
            .last
              margin-top: -10px
              font-size: 28px
        .center
          margin: 0 auto
          text-align: left
          width: 850px
          background-color: #fff
          padding: 10px 0
          border: 1px #000 solid
          border-top: none
        .content
          padding: 20px 50px
          margin: 20px
          header
            text-align: right
        .post
          margin-bottom: 2.0em
          p
            margin-bottom: 1em
          time
            font-weight: 600
            display: block
            margin-bottom: 0.5em
        footer
          overflow: hidden
          margin: 10px 20px 10px 10px
          background-color: #fff
          font-size: 12px
          > :first-child
            float: left
          > :last-child
            float: right
            text-align: right
            margin: 15px 0 0 0
            a
              display: block
              margin: 0 0 3px 0
              color: #333
              > :visited
                color: #333
        .sticky
          position: absolute
          top: 65px
          display: block
          text-align: left
          padding: 15px
          margin: 0 auto 20px auto
          width: 125px
          height: 125px
          font: 17px 'Gloria Hallelujah', cursive
          line-height: 1.2
          border: 0
          border-radius: 3px
          background: -webkit-linear-gradient(#F9EFAF, #F7E98D)
          background: -moz-linear-gradient(#F9EFAF, #F7E98D)
          background: -o-linear-gradient(#F9EFAF, #F7E98D)
          background: -ms-linear-gradient(#F9EFAF, #F7E98D)
          background: linear-gradient(#F9EFAF, #F7E98D)
          box-shadow: 0 5px 8px rgba(0,0,0,0.15)
          overflow: hidden
          transition: box-shadow 0.5s ease
          font-smoothing: subpixel-antialiased
          max-width: 520px
          max-height: 250px
          transform: rotate(-7deg)
          -ms-transform: rotate(-7deg)
          -webkit-transform: rotate(-7deg)
          -o-transform: rotate(-7deg)
          -moz-transform: rotate(-7deg)

  %body
    .center
      .header
        .item
          %a{href: '/'} Resume
        .item
          %a{href: '/consulting'} Consulting
        %h1.logo.item
          .first Colin
          .last Bartlett
        .item
          %a{href: '/contact'} Contact
        .item
          %a{href: '/blog'} Blog
      .content
        = yield
      %footer
        :javascript
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-48498244-1', 'colinabartlett.com');
          ga('send', 'pageview');
        %section
          %a{href: 'http://github.com/cbartlett'}<
            %img{src: 'github.png'}
        %section
          %a{href: 'https://github.com/cbartlett/colinabartlett.com'}
            Source
