!!! 5
%html
  %head
    %title= "Colin A. Bartlett"
    %style
      :sass
        @import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic)
        body
          font-family: 'Helvetica', 'Arial', sans-serif
          text-align: center
          margin: 10px
          color: #3b2e2a
        a
          text-decoration: underline
          color: #3b2e2a
          > :visited
            color: #3b2e2a
        h1
          margin: 0 0 .2em 0
        h2,h3
          margin: 1.0em 0 .1em 0
        p
          margin: 0 0 .3em 0
        .center
          margin: 0 auto
          text-align: left
          width: 850px
        .resume
          font-family: 'PT Serif', serif
          padding: 60px
          border: 1px solid #f6e6ce
          background-color: #fef1e0
          border-radius: 3px
          box-shadow: 4px 4px 3px #aaa
          -moz-box-shadow: 4px 4px 3px #aaa
          -webkit-box-shadow: 4px 4px 3px #aaa
          header
            text-align: right
        footer
          font-size: 12px
          > :first-child
            float: left
          > :last-child
            float: right
            text-align: right
            margin: 15px 0 0 0
            a
              display: block
              margin: 0 0 3px 0
              color: #333
              > :visited
                color: #333

  %body
    .center
      .resume
        %header
          %h1 Colin A. Bartlett
          %p
            250 Ocean Parkway #6G &bullet; Brooklyn, NY 11218
            %br
            215-292-2193 &bullet; colin at colinabartlett dot com

        %section
          %h2 Profile
          %p
            Senior Ruby developer with 15 years experience building web applications and managing
            software development projects and teams. Full-stack experience and strong proponent of
            Test Driven Development and Pair Programming.

        %section
          %h2 Experience

          %h3 Co-owner at Kinetic Web Solutions, Limerick, PA (Jan 2001 - Jun 2010)
          %p
            In 2001, I founded a web development firm. I took on a partner and grew it to 10
            full-time employees. In 2006, I converted our operations from Microsoft ASP to Ruby on
            Rails and transitioned us to a Rails consultancy. I was responsible for all day-to-day
            operations, sales, marketing, and project management. I was a developer and oversaw all
            development, engineering, and systems administration.

          %h3 Senior Consultant at Xforty Technologies, Limerick, PA (Jun 2010 - Sep 2011)
          %p
            In 2010, I sold Kinetic and began consulting with friends at Xforty. I worked on several
            Rails applications large and small and dabbled in some PHP, ASP.Net and other projects.
            In January 2011, I obtained Loosecubes as a customer and moved to New York to contract
            with them full-time for 9 months.

          %h3 Lead Developer at Loosecubes, Brooklyn, NY (Jan 2011 - July 2012)
          %p
            Loosecubes hired me in September 2011 to lead their development team. I was involved
            with nearly all aspects of their Rails application since the beginning. For a time,
            I was their sole developer and, for a time, I worked on-site with an outsourced team at
            Hashrocket in Jacksonville, FL. I helped to train numerous engineers and shape development
            strategy for this early-stage start-up.

        %section
          %h2 Skills
          %p
            Expert level Ruby and Rails experience. Full-stack developer proficient in JavaScript.
            Specializing in Test Driven Development, with significant experience introducing teams
            to TDD best-practices. Advanced Git, Rspec, and Cucumber experience and intermediary
            Linux systems administration abilities. Recent advanced Heroku experience and
            experience with Amazon EC2, Engine Yard, and RackSpace Cloud services, as well as
            self-hosted environments.

        %section
          %h2 Education
          %p Business and IT major at Northeastern University, Boston, MA (2001)

        %section
          %h2 Interests
          %p Traveling, cooking, dogs, reading, Russia. Proficient in conversational Russian.
      %footer
        %section
          %a{href: 'http://twitter.com/cbartlett'}<
            %img{src: 'twitter.png'}
          %a{href: 'http://facebook.com/cbartlett'}<
            %img{src: 'facebook.png'}
          %a{href: 'http://github.com/cbartlett'}<
            %img{src: 'github.png'}
        %section
          %a{href: 'Colin Bartlett resume.pdf'}
            PDF
          %a{href: 'https://github.com/cbartlett/colinabartlett.com'}
            Source
