%header
  %h1 Colin A. Bartlett
  %p
    250 Ocean Parkway #6G &bullet; Brooklyn, NY 11218
    %br
    215-292-2193 &bullet; colin at colinabartlett dot com

%section
  %h2 Profile
  %p
    I'm an Engineering/Product Director and Senior Ruby Developer with 15 years experience
    building web applications and managing software development projects and teams. I have
    full-stack experience and am a dedicated practitioner of TDD. I enjoy providing
    business value to stakeholders beyond just writing code.

%section
  %h2 Experience

  %h3 Co-owner at Kinetic Web Solutions, Limerick, PA (Jan 2001 - Jun 2010)
  %p
    In 2001, I founded a web development firm. I took on a partner and grew it to 10
    full-time employees. In 2006, I converted our operations from Microsoft ASP to Ruby on
    Rails and transitioned us to a Rails consultancy. I was responsible for all day-to-day
    operations, sales, marketing, and project management. I was a developer and oversaw all
    development, engineering, and systems administration.

  %h3 Senior Consultant at Xforty Technologies, Limerick, PA (Jun 2010 - Sep 2011)
  %p
    In 2010, I sold Kinetic and began consulting with friends at Xforty. I worked on several
    Rails applications and dabbled in some PHP, ASP.Net and other projects.
    In January 2011, I obtained Loosecubes as a customer and moved to New York to contract
    with them full-time for 9 months.

  %h3 Lead Developer at Loosecubes, Brooklyn, NY (Jan 2011 - July 2012)
  %p
    Loosecubes offered me a full-time position in September 2011 leading their development team. I was involved
    with nearly all aspects of their Rails application since the beginning. For a time, I
    was their sole developer and, for a time, I worked along side an outsourced team. I
    helped to train numerous newly-hired engineers and shape development strategy for this
    early-stage start-up.

  %h3 Director of Engineering at AppStack, Temecula, CA (October 2012 - Present)
  %p
    I started at AppStack as a Senior Developer and eventually moved up to manage the
    engineering team. As Director of Engineering, I not only contribute daily to the
    codebase, but manage team direction and goals, mentor junior developers, interact
    with management and stakeholders, and generally keep the ship afloat.

%section
  %h2 Skills
  %p
    Expert level Ruby and Rails experience. Full stack developer proficient in JavaScript.
    Specializing in Test Driven Development, with significant experience introducing teams
    to TDD best-practices. Advanced Git, Rspec, and Cucumber experience and intermediary
    Linux systems administration abilities. Extremely picky about well-formed git commits.

%section
  %h2 Community
  %p
    Organizer of the Philly on Rails Ruby user group 2008 to 2011 and frequent presenter.
    Contributor to Rails and other open source projects.

%section
  %h2 Education
  %p Business and IT major at Northeastern University, Boston, MA (2001)

%section
  %h2 Interests
  %p Traveling, cooking, dogs, reading, Russia. Proficient in conversational Russian.
